-- http://hl7.org/fhir/us/core/STU4/StructureDefinition-us-core-encounter.html
-- Honestly, these are all just basic FHIR requirements.
-- But in keeping with other resources for this metric,
-- let's at least check everything in the "Each Immunization must have:" section.

SELECT
    id,
    (
        status IS NOT NULL
        AND {{ utils.is_concept_valid('vaccineCode') }}
        AND (occurrenceDateTime IS NOT NULL OR occurrenceString IS NOT NULL)
        AND {{ utils.is_reference_of_type('patient', 'Patient') }}
    ) AS valid
FROM {{ src }}
