-- http://hl7.org/fhir/us/core/STU4/StructureDefinition-us-core-observation-lab.html

{% import 'q_valid_us_core_v4/observation_utils.jinja' as obs_utils %}

WITH
tmp_slice AS {{ obs_utils.extract_category_slice(src, category) }},

tmp_grouped_checks AS (
    SELECT
        src.id,

        -- obs-3: referenceRange must have at least a low or a high or text
        -- (This is a basic FHIR constraint, but the profile re-iterates it, so let's check it)
        BOOL_AND(
            r.referenceRange IS NULL
            {% if has_ref_range_low %}
                OR {{ utils.is_quantity_valid('r.referenceRange.low') }}
            {% endif %}
            {% if has_ref_range_high %}
                OR {{ utils.is_quantity_valid('r.referenceRange.high') }}
            {% endif %}
            OR {{ utils.is_string_valid('r.referenceRange.text') }}
        ) AS obs3_valid

    FROM {{ src }} AS src,
        UNNEST(referenceRange) AS r (referenceRange)
    INNER JOIN tmp_slice
    ON tmp_slice.id = src.id
    GROUP BY src.id
)

SELECT
    src.id,
    (
        status IS NOT NULL
        AND {{ utils.is_concept_valid('code') }}
        AND {{ utils.is_reference_of_type('subject', 'Patient') }}
        -- us-core-1: DateTime must be at least to day (ed: no mention of effectivePeriod...)
        AND (
            effectiveDateTime IS NULL
            OR LENGTH(effectiveDateTime) >= 10  -- YYYY-MM-DD
        )
        -- us-core-2: If there is no component or hasMember element then
        -- either a value[x] or a data absent reason must be present
        AND (
            component IS NOT NULL
            OR hasMember IS NOT NULL
            OR {{ utils.is_concept_valid('dataAbsentReason') }}
            OR {{ obs_utils.is_value_valid('value') }}
        )
        -- us-core-3: SHALL use UCUM for coded quantity units
        AND (
            valueQuantity.code IS NULL
            OR valueQuantity.system = 'http://unitsofmeasure.org'
        )
        -- obs-3: referenceRange must have at least a low or a high or text
        -- (This is a basic FHIR constraint, but the profile re-iterates it, so let's check it)
        AND (
            tmp_grouped_checks.obs3_valid IS NULL
            OR tmp_grouped_checks.obs3_valid
        )
    ) AS valid
FROM {{ src }} AS src
INNER JOIN tmp_slice
ON tmp_slice.id = src.id
LEFT JOIN tmp_grouped_checks
ON tmp_grouped_checks.id = src.id
