-- http://hl7.org/fhir/us/core/STU4/StructureDefinition-us-core-procedure.html

SELECT
    id,
    (
        status IS NOT NULL
        AND {{ utils.is_concept_valid('code') }}
        AND {{ utils.is_reference_of_type('subject', 'Patient') }}
        AND (
            performedDateTime IS NOT NULL
            OR {{ utils.is_period_valid('performedPeriod') }}
            OR {{ utils.is_string_valid('performedString') }}
            OR {{ utils.is_quantity_valid('performedAge') }}
            OR performedRange IS NOT NULL
        )
    ) AS valid
FROM {{ src }}
