{% import 'utils.jinja' as utils %}

{% set ns = namespace(fields=[]) %}

CREATE TABLE {{ study_prefix }}__count_c_us_core_v4_count_{{ profile_name }}_mandatory{{ table_num|default('') }} AS (
WITH
src_status AS {{ utils.extract_status(src) }},

src_mandatory AS ({% include 'us_core_v4/' + profile_name + '_mandatory.jinja' %}),
{% set ns.fields = ns.fields + ['valid'] %}
{% if table_max %}
    {% set field_slices = ns.fields|slice(table_max)|list %}
    {% set ns.fields = field_slices[table_num - 1] %}
{% endif %}

simplified AS (
    SELECT
        src.id,
        {{ utils.coalesce_missing('src_status.status') }} AS status,

        {% if dates %}
        {{ utils.get_date_string(dates, 'year') }} AS "year",
        {% endif %}

        src_mandatory.{{ ns.fields|join(", src_mandatory.") }}

    FROM {{ src }} AS src
    INNER JOIN src_mandatory
    ON src_mandatory.id = src.id
    LEFT JOIN src_status
    ON src_status.id = src.id
)

{% call utils.make_counts('simplified', output_mode) %}
    {% if dates %}
    "year",
    {% endif %}
    status,
    {{ ns.fields|join(", ") }}
{% endcall %}
);
