{% import 'utils.jinja' as utils %}

{% set ns = namespace(fields=[]) %}

CREATE TABLE {{ study_prefix }}__count_c_us_core_v4_count_{{ profile_name }}_must_support AS (
WITH
src_status AS {{ utils.extract_status(src) }},

src_must_support AS ({% include 'us_core_v4/' + profile_name + '_must_support.jinja' %}),

simplified AS (
    SELECT
        src.id,
        {{ utils.coalesce_missing('src_status.status') }} AS status

        {% if dates %}
        , {{ utils.get_date_string(dates, 'year') }} AS "year"
        {% endif %}

        {% if ns.fields %}
        , src_must_support.{{ ns.fields|join(", src_must_support.") }}
        {% endif %}

    FROM {{ src }} AS src
    {% if ns.fields %}
    INNER JOIN src_must_support
    ON src_must_support.id = src.id
    {% endif %}
    LEFT JOIN src_status
    ON src_status.id = src.id
)

{% call utils.make_counts('simplified', output_mode) %}
    {% if dates %}
    "year",
    {% endif %}
    status
    {% if ns.fields %}
    , {{ ns.fields|join(", ") }}
    {% endif %}
{% endcall %}
);
