{% import 'utils.jinja' as utils %}

{% macro extract_category(src) -%}
    {{ utils.extract_codes_flat(
        src,
        'category',
        system='http://terminology.hl7.org/CodeSystem/observation-category',
        is_array=true,
    ) }}
{%- endmacro %}

{% macro extract_category_slice(src, category) -%}
(
    WITH
    tmp_categories AS {{ extract_category(src) }},
    tmp_ids AS (
        SELECT DISTINCT id
        FROM tmp_categories
        WHERE tmp_categories.code = '{{ category }}'
    )
    SELECT src.*
    FROM {{ src }} AS src
    INNER JOIN tmp_ids
    ON tmp_ids.id = src.id
)
{%- endmacro %}

{% macro extract_other_categories_slice(src, ignore_categories) -%}
(
    WITH
    tmp_categories AS {{ extract_category(src) }},
    tmp_ids AS (
        SELECT DISTINCT src.id
        FROM {{ src }} AS src
        LEFT JOIN tmp_categories
        ON src.id = tmp_categories.id
        WHERE NOT {{ utils.is_code_valid('tmp_categories.code', ignore_categories) }}
    )
    SELECT src.*
    FROM {{ src }} AS src
    INNER JOIN tmp_ids
    ON tmp_ids.id = src.id
)
{%- endmacro %}

{% macro extract_loinc_slice(src, code) -%}
(
    WITH
    tmp_codes AS {{
        utils.extract_codes_flat(
            src,
            'code',
            system='http://loinc.org',
        )
    }},
    tmp_ids AS (
        SELECT DISTINCT id
        FROM tmp_codes
        WHERE tmp_codes.code = '{{ code }}'
    )
    SELECT src.*
    FROM {{ src }} AS src
    INNER JOIN tmp_ids
    ON tmp_ids.id = src.id
)
{%- endmacro %}

{% macro is_obs_status_valid() -%}
    {{ utils.is_code_valid('status', [
        'registered',
        'preliminary',
        'final',
        'amended',
        'corrected',
        'cancelled',
        'entered-in-error',
        'unknown',
    ])}}
{%- endmacro %}

{% macro is_value_valid(prefix, schema) -%}
(
    -- Start with basic, easy, always-there simple-data fields
    {{ prefix }}Boolean IS NOT NULL
    OR {{ utils.is_string_valid(prefix + 'String') }}
    OR {{ prefix }}Integer IS NOT NULL
    OR {{ prefix }}Time IS NOT NULL
    OR {{ prefix }}DateTime IS NOT NULL

    -- Now check each complicated (struct) field separately, based on whether it's in the schema

    {% if 'component.value' not in prefix or schema["component"]["valueQuantity"] %}
        OR {{ utils.is_quantity_valid(prefix + 'Quantity') }}
    {% endif %}

    {% if 'component.value' not in prefix or schema["component"]["valueCodeableConcept"] %}
        OR {{ utils.is_concept_valid(prefix + 'CodeableConcept') }}
    {% endif %}

    {% if 'component.value' not in prefix or schema["component"]["valueRange"] %}
        OR {{ prefix }}Range IS NOT NULL
    {% endif %}

    {% if 'component.value' not in prefix or schema["component"]["valueRatio"] %}
        OR {{ prefix }}Ratio IS NOT NULL
    {% endif %}

    {% if 'component.value' not in prefix or schema["component"]["valueSampleData"] %}
        OR {{ prefix }}SampledData.dimensions IS NOT NULL -- required field of SampledData
    {% endif %}

    {% if 'component.value' not in prefix or schema["component"]["valuePeriod"] %}
        OR {{ utils.is_period_valid(prefix + 'Period') }}
    {% endif %}
)
{%- endmacro %}

-- obs-3: referenceRange must have at least a low or a high or text
-- (This is a basic FHIR constraint, but profiles often re-iterate it,
-- so here is a convenience macro check for it.)
{% macro is_obs_3_valid(parent, schema) -%}
(
    {{ parent }}.referenceRange IS NULL
    {% if schema["referenceRange"]["low"] %}
        OR {{ parent }}.referenceRange.low IS NOT NULL
    {% endif %}
    {% if schema["referenceRange"]["high"] %}
        OR {{ parent }}.referenceRange.high IS NOT NULL
    {% endif %}
    OR {{ utils.is_string_valid(parent + '.referenceRange.text') }}
)
{%- endmacro %}
