(
{%- if is_array %}
    WITH flattened AS (
        SELECT id, t.row AS unnested_field
        FROM {{ src }},
            UNNEST({{ field }}) AS t (row)
    )
    {%- set src = 'flattened' %}
    {%- set field = 'unnested_field' %}
{%- endif %}

SELECT src.id
FROM {{ src }} AS src
WHERE src.{{ field }}.reference LIKE '{{ dest }}/%'
)