CREATE TABLE quality__q_ref_target_valid_{{ table_name }}_denominator AS (

{%- if is_array %}
    WITH flattened AS (
        SELECT id, t.row AS unnested_field
        FROM {{ src }},
            UNNEST({{ field }}) AS t (row)
    )
{%- set src = 'flattened' %}
{%- set field = 'unnested_field' %}
{%- endif %}

SELECT
    '{{ table_name }}' AS entry_key,
    -- intentionally don't use DISTINCT here, we want to count fields, not rows
    count(id) AS denominator
FROM {{ src }} AS src
WHERE
    src.{{ field }}.reference LIKE '{{ dest }}/%'
);