-- http://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-condition-problems-health-concerns.html

{# Mandatory requirements are the same between the profiles #}
{% include 'us_core_v6/condition_mandatory.jinja' %}
