-- http://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-condition-encounter-diagnosis.html

{% import 'us_core_v6/utils.jinja' as core_utils %}

{# Mandatory requirements are similar between the profiles, so start with the base #}
{% include 'us_core_v6/condition_must_support.jinja' %}

-- The only real difference with the problem list profile is we drop a category check and add an
-- encounter check.

tmp_simplified AS (
    SELECT
        src.id,
        {{ utils.extract_status(src) }} AS status,
        (
            tmp_clinical_status.valid_clinical_status IS NOT NULL
            AND tmp_clinical_status.valid_clinical_status
        ) AS valid_clinical_status,
        (
            tmp_verification.valid_verification_status IS NOT NULL
            AND tmp_verification.valid_verification_status
        ) AS valid_verification_status,
        {{ utils.is_reference_of_type('encounter', 'Encounter') }} AS valid_encounter,
        onsetDateTime IS NOT NULL AS valid_onset_date_time, -- spec only cares about this one
        abatementDateTime IS NOT NULL AS valid_abatement_date_time, -- spec only cares about this one
        recordedDate IS NOT NULL AS valid_recorded_date,
        tmp_asserted_date.asserted_date IS NOT NULL AS valid_asserted_date
    FROM tmp_slice AS src
    LEFT JOIN tmp_clinical_status ON tmp_clinical_status.id = src.id
    LEFT JOIN tmp_verification ON tmp_verification.id = src.id
    LEFT JOIN tmp_asserted_date ON tmp_asserted_date.id = src.id
)

{%
set ns.fields = [
    'valid_clinical_status',
    'valid_verification_status',
    'valid_encounter',
    'valid_onset_date_time',
    'valid_abatement_date_time',
    'valid_recorded_date',
    'valid_asserted_date',
]
%}

{{ core_utils.select_all_fields(ns.fields) }}
