-- http://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-patient.html

-- CUMULUS-QUIRK
-- This profile also requires a patient identifier, name, and certain telecom fields, all of which
-- Cumulus ETL strips out. So we don't bother checking that here.

{% import 'us_core_v6/utils.jinja' as core_utils %}

WITH
{% if not cumulus_mode %}
tmp_identifiers AS {{ core_utils.check_complete_identifier(src, true) }},
{% endif %}

tmp_simplified AS (
    SELECT
        src.id,
        {{ utils.extract_status(src) }} AS status,
        {{ utils.is_code_valid(
            'gender',
            'male | female | other | unknown'
        )}} AS valid_gender
    FROM {{ src }} AS src
    LEFT JOIN tmp_identifiers ON src.id = tmp_identifiers.id
)

{%
set ns.fields = [
    'valid_gender',
]
%}

{{ core_utils.select_all_fields(ns.fields) }}
