{% import 'utils.jinja' as utils %}

CREATE TABLE data_metrics__count_c_resource_count_{{ src|lower }}_{{ period|lower }} AS (
{%- set cat_field = category %}
WITH
src_status AS {{ utils.extract_status(src) }},

{%- if systems %}
-- Flatten categories of the provided system and recombine the codes as a list
extracted_codes AS {{ utils.extract_codes(src, cat_field, system=systems, is_array=true) }},

-- Left join back to src to catch rows without a proper system category
grouped_category_src AS (
    SELECT src.*, extracted_codes.codes AS grouped_categories
    FROM {{ src }} AS src
    LEFT JOIN extracted_codes
    ON src.id = extracted_codes.id
),
{%- set src = 'grouped_category_src' %}
{%- set cat_field = 'grouped_categories' %}
{%- endif %}

simplified AS (
    SELECT
        src.id,

        -- Convert array of categories into one string, separated by semicolon
        {%- if category %}
        {{ utils.array_to_string(cat_field) }} AS {{ category }},
        {%- endif %}

        -- Parse string datetime into a single period string
        {% if dates %}
        {{ utils.get_date_string(dates, period) }} AS {{ period }},
        {% endif %}

        {% call utils.coalesce_missing() %}
            src_status.status
        {% endcall %} AS status
    FROM {{ src }} AS src
    LEFT JOIN src_status
    ON src.id = src_status.id
)

SELECT
    COUNT(DISTINCT id) AS cnt,

    {%- if category %}
    {{ category }},
    {%- endif %}

    {%- if dates %}
    {{ period }},
    {%- endif %}

    status
FROM simplified
GROUP BY CUBE(
    {%- if category %}
    {{ category }},
    {%- endif %}

    {%- if dates %}
    {{ period }},
    {%- endif %}

    status
)
);