{% import 'utils.jinja' as utils %}
{% import 'us_core_v4/patient_utils.jinja' as patient_utils %}

CREATE TABLE data_metrics__count_c_pt_count AS (
WITH
src_status AS {{ utils.extract_status('Patient') }},

grouped_ethnicity AS {{ patient_utils.extract_ethnicity(schema) }},
grouped_race AS {{ patient_utils.extract_race(schema) }},

simplified AS (
    SELECT
        src.id,
        {{ utils.get_date_string(['src.birthDate'], 'year') }} AS birth_year,
        {{ utils.coalesce_missing('src.gender') }} AS administrative_gender,
        {{ utils.coalesce_missing('src_status.status') }} AS status,
        {{ utils.coalesce_missing('grouped_ethnicity.display') }} AS ethnicity,
        {{ utils.coalesce_missing('grouped_race.display') }} AS race

    FROM patient AS src
    LEFT JOIN src_status
    ON src.id = src_status.id
    LEFT JOIN grouped_ethnicity
    ON src.id = grouped_ethnicity.id
    LEFT JOIN grouped_race
    ON src.id = grouped_race.id
)

SELECT
    COUNT(DISTINCT id) AS cnt,
    birth_year,
    administrative_gender,
    ethnicity,
    race,
    status
FROM simplified
GROUP BY CUBE(
    birth_year,
    administrative_gender,
    ethnicity,
    race,
    status
)
);