{% import 'utils.jinja' as utils %}

{% set ns = namespace(fields=[]) %}

CREATE TABLE {{ study_prefix }}__t_us_core_v4_{{ profile_name }}_mandatory AS (
    {% include 'us_core_v4/' + profile_name + '_mandatory.jinja' %}
);
