CREATE TABLE quality__{{ metric }}_summary AS (
    WITH
    {%- for entry_key, src in entries.items() %}
    {{ entry_key }}_numerator AS (
        SELECT '{{ entry_key }}' AS entry_key, COUNT(DISTINCT(id)) AS numerator FROM quality__{{ metric }}_{{ entry_key }}
    ),
    {{ entry_key }}_denominator AS (
        SELECT '{{ entry_key }}' AS entry_key, COUNT(id) AS denominator FROM {{ src }}
    ),
    {%- endfor %}

    union_table AS (
        {%- for entry_key in entries %}
        SELECT
            {{ entry_key }}_numerator.entry_key AS id,
            numerator,
            denominator,
            CASE
                WHEN denominator = 0
                THEN 0.0
                ELSE CAST(CAST(numerator AS real) / denominator AS DECIMAL(5, 4))
            END AS percentage
        FROM {{ entry_key }}_numerator
        JOIN {{ entry_key }}_denominator
        ON {{ entry_key }}_numerator.entry_key = {{ entry_key }}_denominator.entry_key
        {%- if not loop.last %}
        UNION
        {%- endif -%}
        {%- endfor %}
    )

    SELECT * FROM union_table
);