CREATE TABLE quality__{{ metric }}_summary AS (
    WITH
    {%- for entry_key, denominator_sql in entries.items() %}
    {{ entry_key }}_numerator AS (
        SELECT '{{ entry_key }}' AS entry_key, COUNT(id) AS numerator
        FROM quality__{{ metric }}_{{ entry_key }}
    ),
    {{ entry_key }}_denominator AS (
        {% if denominator_sql and denominator_sql.strip() %}
        WITH denominator_slice AS {{ denominator_sql }}
        {% else %}
        WITH denominator_slice AS (SELECT id from {{ entry_key.split("_")[0] }})
        {% endif %}
        SELECT '{{ entry_key }}' AS entry_key, COUNT(id) AS denominator
        FROM denominator_slice
    ),
    {%- endfor %}

    union_table AS (
        {%- for entry_key in entries %}
        SELECT
            numerator_table.entry_key AS id,
            numerator,
            denominator,
            CASE
                WHEN denominator = 0
                THEN 0.0
                ELSE CAST(CAST(numerator AS real) / denominator AS DECIMAL(5, 4))
            END AS percentage
        FROM {{ entry_key }}_numerator AS numerator_table
        INNER JOIN {{ entry_key }}_denominator AS denominator_table
        ON numerator_table.entry_key = denominator_table.entry_key
        {%- if not loop.last %}
        UNION
        {%- endif -%}
        {%- endfor %}
    )

    SELECT * FROM union_table
);