CREATE TABLE quality__q_ref_target_valid_summary AS (
    WITH
    {%- for entry_key, entry_values in entries.items() %}
    {%- for src, dest in entry_values.items() %}
    {{ entry_key }}_numerator AS (
        SELECT '{{ entry_key }}' AS entry_key, COUNT(DISTINCT(id)) AS numerator FROM quality__q_ref_target_valid_{{ entry_key }}
    ),
    {{ entry_key }}_denominator AS (
        SELECT '{{ entry_key }}' AS entry_key, COUNT(id) AS denominator FROM {{ src|lower }}
    ),
    {%- endfor %}
    {%- endfor %}

    union_table AS (
        {%- for entry_key in entries %}
        SELECT
            {{ entry_key }}_numerator.entry_key AS source_and_target,
            numerator,
            denominator
        FROM {{ entry_key }}_numerator
        JOIN {{ entry_key }}_denominator
        ON {{ entry_key }}_numerator.entry_key = {{ entry_key }}_denominator.entry_key
        {%- if not loop.last %}
        UNION
        {%- endif -%}
        {%- endfor %}
    )

    SELECT * FROM union_table
);