CREATE TABLE quality__q_term_use_{{ src|lower }}_{{ field|lower }} AS (
WITH

-- Flatten the coding and group the systems as an array
flattened_and_grouped AS (
    SELECT
        id,
        ARRAY_AGG(t.row.system) AS {{ field }}_systems
    FROM {{ src|lower }},
        UNNEST({{ field }}.coding) AS t (row)
    GROUP BY id
),

-- Left join back to src to catch all rows, not just those with codings
rejoined_src AS (
    SELECT
        src.id,
        {{ field }},
        {{ field }}_systems
    FROM {{ src|lower }} AS src
    LEFT JOIN flattened_and_grouped
    ON src.id = flattened_and_grouped.id
)

SELECT
    id,
    {{ field }}
FROM rejoined_src
WHERE
    {{ field }}_systems is NULL
    OR ARRAY_POSITION({{ field }}_systems, '{{ system }}') = 0
);