{% import 'utils.jinja' as utils %}

CREATE TABLE {{ study_prefix }}__q_ref_target_pop_{{ src|lower }}_{{ dest|lower }} AS (
WITH
src_status AS {{ utils.extract_status(src) }}

SELECT
    src.id,
    src_status.status,
    src.{{ field }} AS target
FROM {{ src }} AS src
LEFT JOIN src_status
ON src.id = src_status.id
WHERE
    NOT REGEXP_LIKE(src.{{ field }}.reference, '^{{ dest }}/')
);