-- http://hl7.org/fhir/us/core/STU4/StructureDefinition-us-core-diagnosticreport-note.html
-- There is another lab-report-specific profile,
-- but this is the "base DiagnosticReport" profile that covers the bare minimum.

-- CUMULUS-QUIRK
-- Doesn't look for "presentedForm", because Cumulus strips that field.

{% import 'us_core_v4/utils.jinja' as core_utils %}

WITH
tmp_slice AS {% include 'us_core_v4/slice.jinja' %},

tmp_simplified AS (
    SELECT
        id,
        {{ utils.is_reference_of_type('encounter', 'Encounter') }} AS valid_encounter,
        issued IS NOT NULL AS valid_issued,
        performer IS NOT NULL AS valid_performer
    FROM tmp_slice
)

{%
set ns.fields = [
    'valid_encounter',
    'valid_issued',
    'valid_performer',
]
%}

{{ core_utils.select_all_fields(ns.fields) }}
