-- http://hl7.org/fhir/us/core/STU4/StructureDefinition-us-core-documentreference.html

-- CUMULUS-QUIRK
-- Doesn't look at the us-core-6 attachment data/url check, because Cumulus strips those fields.

{% import 'us_core_v4/utils.jinja' as core_utils %}

WITH
tmp_attachment_flat AS (
    SELECT
        id,

        {% if schema["content"]["attachment"] %}
        u.content.attachment.contenttype
        {% else %}
        NULL AS contenttype
        {% endif %}

    FROM {{ src }},
        UNNEST(content) AS u (content)
),

tmp_type_codes_flat AS {{ utils.extract_codes_flat(src, 'type')}},

tmp_grouped AS (
    SELECT
        src.id AS id,
        ARBITRARY(src.status) AS status,
        ARBITRARY(src.category) AS category,
        ARBITRARY(src.subject) AS subject,

        BOOL_OR(
            tc.code IS NOT NULL
            AND tc.system IS NOT NULL
            AND (
                -- technically only LOINC codes with SCALE_TYP = DOC are valid here,
                -- but that's difficult to check. So we just look for any LOINC code.
                tc.system = 'http://loinc.org'
                OR (
                    tc.system = 'http://terminology.hl7.org/CodeSystem/v3-NullFlavor'
                    AND tc.code = 'UNK'
                )
            )
        ) AS valid_type,

        BOOL_AND(
            att.contenttype IS NOT NULL
        ) AS valid_content_type

    FROM {{ src }} AS src
    LEFT JOIN tmp_attachment_flat AS att ON att.id = src.id
    LEFT JOIN tmp_type_codes_flat AS tc ON tc.id = src.id
    GROUP BY src.id
),

tmp_simplified AS (
    SELECT
        id,
        {{ utils.is_code_valid(
            'status',
            'current | superseded | entered-in-error'
        ) }} AS valid_status,
        valid_type,
        category IS NOT NULL AS valid_category,
        {{ utils.is_reference_of_type('subject', 'Patient') }} AS valid_subject,
        valid_content_type
    FROM tmp_grouped
)

{%
set ns.fields = [
    'valid_status',
    'valid_type',
    'valid_category',
    'valid_subject',
    'valid_content_type',
]
%}

{{ core_utils.select_all_fields(ns.fields) }}
