-- http://hl7.org/fhir/us/core/STU4/StructureDefinition-us-core-encounter.html

-- CUMULUS-QUIRK
-- Doesn't look for "identifier", because Cumulus strips that field.

{% import 'us_core_v4/utils.jinja' as core_utils %}

WITH

tmp_locations AS (
    SELECT
        id,

    {% if schema["location"]["location"] %}
        BOOL_AND({{ utils.is_reference_of_type('u.location.location', 'Location') }}) AS valid_location
    {% else %}
        FALSE AS valid_location
    {% endif %}

    FROM {{ src }},
        UNNEST(location) AS u (location)
    GROUP BY id
),

tmp_reason_references AS (
    SELECT
        id,
        BOOL_AND({{ utils.is_reference_of_type('u.reasonReference', [
            'Condition',
            'Procedure',
            'Observation',
            'ImmunizationRecommendation',
        ]) }}) as valid_reason_reference
    FROM {{ src }},
        UNNEST(reasonReference) AS u (reasonReference)
    GROUP BY id
),

tmp_simplified AS (
    SELECT
        src.id,
        participant IS NOT NULL AS valid_participant, -- array
        {{ utils.is_period_valid('period') }} AS valid_period,
        reasonCode IS NOT NULL -- array
        OR (
            -- The US Core profile also changes the cardinality from
            -- 0..* to 0..1 but that is apparently a mistake in v4:
            -- https://jira.hl7.org/browse/FHIR-36862
            -- So we don't enforce that "at most 1" requirement.
            tmp_reason_references.valid_reason_reference IS NOT NULL
            AND tmp_reason_references.valid_reason_reference
        ) AS valid_reason,
        (
            {% if schema["hospitalization"]["dischargeDisposition"] %}
            {{ utils.is_concept_valid('hospitalization.dischargeDisposition') }}
            {% else %}
            FALSE
            {% endif %}
        ) AS valid_discharge_disposition,
        {{ utils.is_reference_of_type('serviceProvider', 'Organization') }}
        OR (
            tmp_locations.valid_location IS NOT NULL
            AND tmp_locations.valid_location
        ) AS valid_location
    FROM {{ src }} AS src
    LEFT JOIN tmp_locations
    ON src.id = tmp_locations.id
    LEFT JOIN tmp_reason_references
    ON tmp_reason_references.id = src.id
)

{%
set ns.fields = [
    'valid_participant',
    'valid_period',
    'valid_reason',
    'valid_discharge_disposition',
    'valid_location',
]
%}

{{ core_utils.select_all_fields(ns.fields) }}
