-- http://hl7.org/fhir/us/core/STU4/StructureDefinition-us-core-immunization.html

{% import 'us_core_v4/utils.jinja' as core_utils %}

WITH
tmp_simplified AS (
    SELECT
        id,
        (
            status IS NULL
            OR status <> 'not-done'
            OR {{ utils.is_concept_valid('statusReason') }}
        ) AS valid_status_reason,
        primarySource IS NOT NULL AS valid_primary_source
    FROM {{ src }}
)

{%
set ns.fields = [
    'valid_status_reason',
    'valid_primary_source',
]
%}

{{ core_utils.select_all_fields(ns.fields) }}
