-- http://hl7.org/fhir/us/core/STU4/StructureDefinition-us-core-smokingstatus.html

{% import 'us_core_v4/utils.jinja' as core_utils %}
{% import 'us_core_v4/observation_utils.jinja' as obs_utils %}

WITH
tmp_slice AS {% include 'us_core_v4/slice.jinja' %},

tmp_categories AS ({{ obs_utils.extract_category('tmp_slice') }}),
tmp_grouped_categories AS (
    SELECT
        id,
        BOOL_OR(code = 'social-history') AS valid_category
    FROM tmp_categories
    GROUP BY id
),

tmp_grouped_obs_3 AS (
    SELECT
        src.id,
        -- obs-3: referenceRange must have at least a low or a high or text
        BOOL_AND(
            {{ obs_utils.is_obs_3_valid('r', schema) }}
        ) AS valid_obs_3
    FROM tmp_slice AS src,
        UNNEST(referenceRange) AS r (referenceRange)
    GROUP BY src.id
),

tmp_simplified AS (
    SELECT DISTINCT
        src.id,
        -- Smoking Status restricts the set of statuses further than base Observation
        {{ utils.is_code_valid('status', ['final', 'entered-in-error'])}} AS valid_status,
        (
            tmp_grouped_categories.valid_category IS NOT NULL
            AND tmp_grouped_categories.valid_category
        ) as valid_category,
        {{ utils.is_reference_of_type('subject', 'Patient') }} AS valid_subject,
        effectiveDateTime IS NOT NULL AS valid_effective_date_time,
        {{ utils.is_concept_valid('valueCodeableConcept') }} AS valid_value_codeable_concept,
        (
            tmp_grouped_obs_3.valid_obs_3 IS NULL
            OR tmp_grouped_obs_3.valid_obs_3
        ) AS valid_obs_3
    FROM tmp_slice AS src
    LEFT JOIN tmp_grouped_categories
    ON tmp_grouped_categories.id = src.id
    LEFT JOIN tmp_grouped_obs_3
    ON tmp_grouped_obs_3.id = src.id
)

{%
set ns.fields = [
    'valid_status',
    'valid_category',
    'valid_subject',
    'valid_effective_date_time',
    'valid_value_codeable_concept',
    'valid_obs_3',
]
%}

{{ core_utils.select_all_fields(ns.fields) }}
