-- http://hl7.org/fhir/us/core/STU4/StructureDefinition-us-core-observation-lab.html

{% import 'us_core_v4/utils.jinja' as core_utils %}
{% import 'us_core_v4/observation_utils.jinja' as obs_utils %}

WITH
tmp_slice AS {% include 'us_core_v4/slice.jinja' %},

tmp_grouped_checks AS (
    SELECT
        src.id,
        -- obs-3: referenceRange must have at least a low or a high or text
        BOOL_AND(
            {{ obs_utils.is_obs_3_valid('r', schema) }}
        ) AS valid_obs_3
    FROM tmp_slice AS src,
        UNNEST(referenceRange) AS r (referenceRange)
    GROUP BY src.id
),

tmp_simplified AS (
    SELECT
        src.id,
        {{ obs_utils.is_obs_status_valid() }} AS valid_status,
        {{ utils.is_concept_valid('code') }} AS valid_code,
        {{ utils.is_reference_of_type('subject', 'Patient') }} AS valid_subject,
        -- us-core-1: DateTime must be at least to day (ed: no mention of effectivePeriod...)
        (
            effectiveDateTime IS NULL
            OR LENGTH(effectiveDateTime) >= 10  -- YYYY-MM-DD
        ) AS valid_us_core_1,
        -- us-core-2: If there is no component or hasMember element then
        -- either a value[x] or a data absent reason must be present
        (
            component IS NOT NULL
            OR hasMember IS NOT NULL
            OR {{ utils.is_concept_valid('dataAbsentReason') }}
            OR {{ obs_utils.is_value_valid('value', schema) }}
        ) AS valid_us_core_2,
        -- us-core-3: SHALL use UCUM for coded quantity units
        (
            valueQuantity.code IS NULL
            OR (
              valueQuantity.system IS NOT NULL
              AND valueQuantity.system = 'http://unitsofmeasure.org'
            )
        ) AS valid_us_core_3,
        -- obs-3: referenceRange must have at least a low or a high or text
        -- (This is a basic FHIR constraint, but the profile re-iterates it, so let's check it)
        (
            tmp_grouped_checks.valid_obs_3 IS NULL
            OR tmp_grouped_checks.valid_obs_3
        ) AS valid_obs_3
    FROM tmp_slice AS src
    LEFT JOIN tmp_grouped_checks
    ON tmp_grouped_checks.id = src.id
)

{%
set ns.fields = [
    'valid_status',
    'valid_code',
    'valid_subject',
    'valid_us_core_1',
    'valid_us_core_2',
    'valid_us_core_3',
    'valid_obs_3',
]
%}

{{ core_utils.select_all_fields(ns.fields) }}
