-- http://hl7.org/fhir/us/core/STU4/StructureDefinition-us-core-patient.html

-- CUMULUS-QUIRK
-- This profile also requires a patient identifier and name, both of which Cumulus ETL strips out
-- early. So we don't bother checking that here.

{% import 'us_core_v4/utils.jinja' as core_utils %}

WITH
tmp_simplified AS (
    SELECT
        id,
        {{ utils.is_code_valid(
            'gender',
            'male | female | other | unknown'
        )}} AS valid_administrative_gender
    FROM {{ src }}
)

{%
set ns.fields = [
    'valid_administrative_gender',
]
%}

{{ core_utils.select_all_fields(ns.fields) }}
