-- http://hl7.org/fhir/us/core/STU4/StructureDefinition-us-core-allergyintolerance.html

WITH

tmp_reaction AS (
    SELECT
        id,

        {% if has_manifestation %}
        BOOL_AND(u.reaction.manifestation IS NOT NULL) AS valid_reaction
        {% else %}
        FALSE AS valid_reaction
        {% endif %}

    FROM {{ src }},
        UNNEST(reaction) AS u (reaction)
    GROUP BY id
),

tmp_manifestation AS (
    SELECT
        id,

        {% if has_manifestation %}
        BOOL_AND(
            {{ utils.is_concept_valid('r.manifestation') }}
        ) AS valid_manifestation
        {% else %}
        FALSE AS valid_manifestation
        {% endif %}

    FROM {{ src }}
        {% if has_manifestation %}
        , UNNEST(reaction) AS u (reaction)
        , UNNEST(u.reaction.manifestation) AS r (manifestation)
        {% endif %}
    GROUP BY id
),

tmp_verification_flat AS {{
    utils.extract_codes_flat(
        src,
        'verificationstatus',
        system='http://terminology.hl7.org/CodeSystem/allergyintolerance-verification',
    )
}},
tmp_verification AS (
    SELECT
        id,
        BOOL_AND(tmp_verification_flat.code IS NOT NULL) AS valid_verification_status
    FROM tmp_verification_flat
    GROUP BY id
),

tmp_simplified AS (
    SELECT
        src.id,
        (
            tmp_verification.valid_verification_status IS NOT NULL
            AND tmp_verification.valid_verification_status
        ) AS valid_verification_status,
        (
            tmp_reaction.valid_reaction IS NOT NULL
            AND tmp_reaction.valid_reaction
            AND tmp_manifestation.valid_manifestation IS NOT NULL
            AND tmp_manifestation.valid_manifestation
        ) AS valid_reaction_manifestation
    FROM {{ src }} AS src
    LEFT JOIN tmp_verification
    ON tmp_verification.id = src.id
    LEFT JOIN tmp_reaction
    ON tmp_reaction.id = src.id
    LEFT JOIN tmp_manifestation
    ON tmp_manifestation.id = src.id
)

{%
set fields = [
    'valid_verification_status',
    'valid_reaction_manifestation',
]
%}

SELECT
    id,
    {{ fields|join(", ") }},
    {{ fields|join(" AND ") }} AS valid
FROM tmp_simplified
