-- http://hl7.org/fhir/us/core/STU4/StructureDefinition-us-core-condition.html

WITH

tmp_verification_flat AS {{
    utils.extract_codes_flat(
        src,
        'verificationstatus',
        system='http://terminology.hl7.org/CodeSystem/condition-ver-status',
    )
}},
tmp_verification AS (
    SELECT
        id,
        BOOL_AND(tmp_verification_flat.code IS NOT NULL) AS valid_verification_status
    FROM tmp_verification_flat
    GROUP BY id
),

tmp_simplified AS (
    SELECT
        src.id,
        (
            tmp_verification.valid_verification_status IS NOT NULL
            AND tmp_verification.valid_verification_status
        ) AS valid_verification_status
    FROM {{ src }} AS src
    LEFT JOIN tmp_verification
    ON tmp_verification.id = src.id
)

{%
set ns.fields = [
    'valid_verification_status',
]
%}

SELECT
    id,
    {{ ns.fields|join(", ") }},
    {{ ns.fields|join(" AND ") }} AS valid
FROM tmp_simplified
