-- http://hl7.org/fhir/us/core/STU4/StructureDefinition-us-core-medicationrequest.html

-- CUMULUS-QUIRK
-- Doesn't look for "dosageInstruction.text", because Cumulus strips that field.

WITH
tmp_simplified AS (
    SELECT
        id,
        category IS NOT NULL AS valid_category, -- array of concepts
        (
            reportedBoolean IS NOT NULL
            OR {{ utils.is_reference_valid('reportedReference') }}
        ) AS valid_reported,
        {{ utils.is_reference_of_type('encounter', 'Encounter') }} AS valid_encounter,
        authoredOn IS NOT NULL AS valid_authored_on
    FROM {{ src }}
)

{%
set ns.fields = [
    'valid_category',
    'valid_reported',
    'valid_encounter',
    'valid_authored_on',
]
%}

SELECT
    id,
    {{ ns.fields|join(", ") }},
    {{ ns.fields|join(" AND ") }} AS valid
FROM tmp_simplified
