-- http://hl7.org/fhir/us/core/STU4/StructureDefinition-us-core-medicationrequest.html

WITH
tmp_simplified AS (
    SELECT
        id,
        status IS NOT NULL AS valid_status,
        intent IS NOT NULL AS valid_intent,
        (
            {{ utils.is_concept_valid('medicationCodeableConcept') }}
            OR {{ utils.is_reference_valid('medicationReference') }}
        ) AS valid_medication,
        {{ utils.is_reference_of_type('subject', 'Patient') }} AS valid_subject,
        {{ utils.is_reference_valid('requester') }} AS valid_requester
    FROM {{ src }}
)

{%
set fields = [
    'valid_status',
    'valid_intent',
    'valid_medication',
    'valid_subject',
    'valid_requester',
]
%}

SELECT
    id,
    {{ fields|join(", ") }},
    {{ fields|join(" AND ") }} AS valid
FROM tmp_simplified
